@import url('https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------header-INDEX-----*/ 



header nav div a img{
    width: 200px;
    height: 150px;
}


.container-fluid{
    background: linear-gradient(16deg, rgb(4, 63, 4), rgba(0, 128, 0, 0.312));
    
    
    
}


.nav-link{
    font-size: 30px;
}









/*------------------seccion de banners----------------------------*/
/* .main{

} */


.banner{ 
    background: rgba(28, 74, 34, 0.164);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    
} 


.banner-tittle{
    text-align: center;
    padding: 50px;
    color: rgb(255, 0, 0);
}


/* 
.banner-card img{
    

} */

.banner-imgvenum{
    width: 100%;
    height: 300px;
    margin: 2px;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;

}

.banner-imgtwins{
    width: 100%;
    height: 300px;
    
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
}

.banner-imgbox{
    width: 100%;
    height: 300px;
    
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
}



/*------cards--------*/

.ofertas{
    width: 100%;
    height: 400px; 
    text-align: center;
    
    background-color: beige;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px;
} 

.ofertas div{
    
    
    
    width: 350px;
    height: 300px;

}

.ofertas div img{
    width: 250px;
    height: 200px;
}

.pie-index{
    width: 100%;
    height: 100px;
} 

.pie-index h3{
    font-size: 30px;
    width: 20px;
    color: rgb(72, 89, 89);
}

.pie-index a img{
    width: 30px;
    height: 30px;
}


/*------------------PAGINA DE PRODUCTOS----------------*/
.carousel-item{
    height: 340px;
    max-width: 1500px;
    object-fit: cover;
    align-items: center;
}
    
.productos h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color-interpolation-filters: auto;
    font-size: 100px;
    color:rgb(255, 255, 255);
    background-image:url(../img/boxeobannerguantes.jpg);
    background-attachment: fixed;
}    


.img-buddha{
    width: 100%;
    height: 300px;
    align-items: center;
}

.img-twins{
    width: 100%;
    height: 300px;
    align-items: center;
}

.img-shai{
    width: 100%;
    height: 300px;
    align-items: center;
}

.productos-contain{
    width: 500px;
    height: 800px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
}

/* .cont-uno{

}
.cont-uno{

}.cont-uno{

}
.cont-uno{

}.cont-uno{

}
.cont-uno{

}

.cont-uno{

} */











/*-------------PAGINA DE SERVICIOS-------*/





/*-----------footer----------*/


/*------------------------- -------------*/



/*------------------  PAGINA CONTACTOS -------------------- */

.cab{
    width: 100vw;
    font-size: 300;

}

.cab-nav{
    width: 100%;
    background: rgba(101, 90, 90, 0.96);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    margin: 5px;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}



.cab-nav img{
    width: 300px;
    max-height: 300px;


}

.cab-nav ul{
    font-size: 30px;
    text-decoration: none;
    text-align: end;
}

.cab-nav ul li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    flex-direction: column-reverse;
}


.identify{
    border: solid rgb(0, 0, 0) 2px;
    width: 600px;
    height: 600px;
    align-items: center;
    

}

.contact-iframe{
    width: 300px;
    height: 200px;
}


.identify-titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-ubic{
    padding: 150px;
    align-items: center;

}

.contact-wpp{
    color: black;
}

.contact-red{
    padding: 30px;
    

}

/*-----SERVICIOS*/ 

.backoffice{
    width: 100%;
    height: 700px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}










/* FOOTER CONTACTOS */

.contact-foot{
    width: 100%;
    height: 200px;
}







.contact-wpp{
    align-items: center;
}




/*-------- MEDIA QUERIES INDEX--------*/ 









/*----------- MEDIA QUERIES PARA LA PAGINA DE CONTACTOS -------*/



/* ------------MEDIA QUERIES PRODUCTOS--------*/ 




/*--------SERVICIOS--------*/
@media (max-width:700px) and (min-width:400px){
    .servicios{
        flex-direction: column;
        
    }
}  

/*-------PSEUDOELEMENTOS-------*/ 

.ofertas a::first-letter{
    color: red;
    font-size: 20px;
} 

h1::first-letter{
    color: black;
    font-size: 60px;
}

.ofertas div a::before{
    content: "🛒";
    

}  


/*---PSEUDO CLASES-------*/  

.ofertas div a:hover{
    color: black;

}

input{
    outline: none;
}

input:focus{
    border: 1px solid red;
    border-radius: 5px;
}