@import url("https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%; }

.container-fluid {
  background: linear-gradient(16deg, #043f04, rgba(0, 128, 0, 0.312)); }
  .container-fluid a img {
    width: 200px; }
  .container-fluid a {
    font-size: 30px; }

.arriba {
  width: 100%; }

.cab {
  width: 100%; }

.main {
  width: 100%; }

.banner {
  background: rgba(28, 74, 34, 0.164);
  background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%); }
  .banner .banner-tittle {
    text-align: center;
    font-size: 30px;
    color: red; }
  .banner .banner-card img {
    width: 300px; }
  .banner .banner-imgvenum {
    width: 100%;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    object-fit: contain; }
  .banner .banner-imgtwins {
    width: 100%;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    object-fit: contain; }

.ofertas {
  width: 100%;
  text-align: center;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 500px);
  grid-template-rows: 400px 400px; }
  .ofertas div {
    padding-top: 10px;
    margin: 10px;
    width: 350px; }
  .ofertas img {
    width: 250px; }
  .ofertas a:hover {
    color: rgba(12, 12, 7, 0.856); }

/*-------PAGINA SERVICIOS*/
.servicios {
  width: 100%; }

.backoffice div {
  width: 100%;
  display: flex; }

.pie-servicios {
  width: 100%; }

/*---PAGINA PRODUCTOS*/
.productos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 400px);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center; }

.productos div {
  background-color: beige;
  width: 350px; }

.productos div img {
  width: 300px; }

.productos div h3 {
  text-align: center; }

.productos div a {
  align-items: center; }

@media (max-width: 944px) {
  .animate__animated {
    display: none; } }

@media (max-width: 400px) {
  .banner-imgtwins {
    display: none; }
  .banner-imgvenum {
    display: none; } }

@media (max-width: 382px) {
  .ofertas div {
    width: 70%; } }

.pie-index {
  background: rgba(101, 90, 90, 0.96);
  background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  width: 100%; }
  .pie-index h3 {
    font-size: 20px;
    width: 30px;
    color: #485959; }
  .pie-index img {
    width: 40px; }

.pie-servicios {
  background: rgba(101, 90, 90, 0.96);
  background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
  width: 100%; }
  .pie-servicios img {
    width: 40px; }
