@import url('https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px; 
    
}

/*-------header-INDEX-----*/  
header{
    background-color: hsl(226, 32%, 65%);
    padding: 20px; 
    
} 

header img{
    width: 200px;
    height: 200px;
    
} 
header nav ul{
    list-style: none;
}
    header nav ul li{
    display: inline-block;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(247, 247, 255);
    font-size: 20px;
    font-weight: 900;
} 

header nav div {
    list-style: none;
    text-align: end;

} 
header nav div img{
    width: 50px;
    height: 50px; 
    margin-right: 25px;
}



/*------cards--------*/
.ofertas div div{
    width: 300px;
    height: 400px;
    border: 1px solid grey;
    margin: 20px 10px 15px 20px;
    background-color: rgb(228, 228, 222);
    text-align: center; 
    border-radius: 15px ; 
    display: inline-block; 
    padding: 5px;
    border-radius: 15px;
    
    

}

.ofertas div div img{
    width: 300px;
    height: 300px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}  

.ofertas div div h3{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.ofertas div div a{
    text-decoration: none;
    color: rgb(106, 106, 117);
    background-color: rgb(240, 96, 120);
    padding: 2px;
    border-radius: 5px;
    background-color: beige;
    padding: 5px;
    
} 



/*---------main-------*/ 

/*--------------------------------secciondebanners de marcas a trabajar-----*/
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../img/venumbanner.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: none;
    color: rgb(233, 126, 4);
    margin: 0; 
    
} 




/*-titulo-------------*/




.hero h1{
    font-size: 100px;
    font-weight: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px; 
    color: rgb(25, 50, 187);
    position: relative;
    
    
} 

/*------------------cartasdeproductos------*/ 
.productos div{
    width: 300px;
    height: 400%; 
    border: 1px solid;
    margin: 20px 15px 10px 15px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    background-color: beige;
}
.productos div h3{
    
    font-size: 25px; 
    padding: 5px;
    
} 

.productos div img{
    width: 300px;
    height: 300px; 
    margin: 10px 10px 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    border-radius: 15px; 
    background-color: rgb(228, 228, 222);
    display: inline-block;
    
}



.productos div a{
    text-decoration: none;
    color: rgb(106, 106, 117);
    background-color:rgb(240, 96, 120);
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
}

/*-----------CONTACTO----*/ 
header{
    background-color: hsl(226, 32%, 65%);
    padding: 20px; 
    
} 

header img{
    width: 200px;
    height: 200px;
    
} 

    header nav ul li{
    display: inline-block;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(247, 247, 255);
    font-size: 20px;
    font-weight: 900;
} 








/*-----------footer----------*/
footer{
    background-color:rgba(17, 15, 15, 0.253);
}
    
footer img{
    width: 80px;
    height: 80px;
} 

