@import url('https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------header-INDEX-----*/ 

header nav div a img{
    width: 200px;
    height: 200px;
}


.container-fluid{
    background: linear-gradient(16deg, rgb(4, 63, 4), rgba(0, 128, 0, 0.312));
}


.navbar-nav{
    font-size: 25px;
}









/*------------------seccion de banners----------------------------*/

.banner{ 
    background: rgba(28, 74, 34, 0.164);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    transform: scale(1.1);


    /*preferi en esta seccion no generar columnas*/

    /*-----generamos filas----------*/
    grid-template-rows: 150px 100x 150px 150px;
    grid-template-areas:
        "banner-imgvenum"
        "banner-imgtwins"
        "banner-imgbox";
} 

.banner-card h1{
    align-items: center;
    display: flex;
}

.banner-card h1{
    text-align: center;
}

.banner-card img{
    object-fit: cover;
    width: 1000px;
    height: 364px;

}

.banner-imgvenum{
    width: 1000px;
    height: 364px;
    margin: 0px;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;

}

.banner-imgtwins{
    width: 1000px;
    height: 364px;
    margin: 0px;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
}

.banner-imgbox{
    width: 1000px;
    height: 364px;
    margin: 0px;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
}



/*------cards--------*/

.ofertas{
    margin: 70px;
    padding-bottom: 10px;
}
.card{
    width: 300px;
    height: 300px; 
    padding: 40px;
    
}

.card img{
    max-width: 250px;
    height: 250px;
}








/*------------------PAGINA DE PRODUCTOS----------------*/





.productos div{
    width: 300px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    border-radius: 15px;
    background-color: beige;
    
}



.productos div div{
    border-radius: 15px;
    background-color: rgb(228, 228, 222);
    display: inline-block;
    
}

.productos div div img{
    width: 200px;
    height: 200px;
    
}
/*-------------PAGINA DE SERVICIOS-------*/





/*-----------footer----------*/
footer{
    background: #f1dddd;
    background: linear-gradient(90deg, #f1dddd 0%, #767070 80%);
    background: -webkit-linear-gradient(90deg, #f1dddd 0%, #767070 80%);
    background: -moz-linear-gradient(90deg, #f1dddd 0%, #767070 80%);
}

footer img{
    width: 60px;
    height: 60px;
}

/*------------------------- -------------*/



/*------------------  PAGINA CONTACTOS -------------------- */

.cab{
    width: 100vw;
    font-size: 300;

}

.cab-nav {
    width: 100%;
    background: rgba(101, 90, 90, 0.96);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    margin: 5px;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}



.cab-nav img{
    width: 300px;
    max-height: 300px;


}

.cab-nav ul{
    font-size: 30px;
    text-decoration: none;
    text-align: end;
}

.cab-nav ul li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    flex-direction: column-reverse;
}


.identify{
    border: solid rgb(0, 0, 0) 2px;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: px;
    justify-content: center;

}

.contact-iframe{
    width: 300px;
    height: 200px;
}


.identify-titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-ubic{
    padding: 150px;
    align-items: center;

}

.contact-wpp{
    margin: 10px;
}

.contact-red{
    padding: 30px;
    grid-row: -3;

}












/* FOOTER CONTACTOS */









.contact-wpp{
    align-items: center;
}




/*-------- MEDIA QUERIES--------*/


/* @media screen and (max-width:895px){
    .cabeza nav{
        flex-direction: column;
        
        

    }
}

@media screen and (max-width:537px){
    .cabeza-logo{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:1015px){
    .mi-compra{
        flex-direction: column;
        padding: 0;
    }

}

@media screen and (max-width:535px){
    .mi-compra{
        flex-direction: row;
    }
}


@media screen and (max-width:389px){
    .mi-compra{
        width: 25px;
        padding: 0;
    }
}




@media screen and (max-width:1015px){
    .banner-imgvenum{
        width: 100%;
        height: 25%;

    }
}

@media screen and (max-width:1015px){
    .banner-imgtwins{
        width: 100%;
        height: 25%;

    }

}

@media screen and (max-width:1015px){
    .banner-imgbox{
        width: 100%;
        height: 25%;


    }

}

@media screen and (max-width:1063px){
    .ofertas-container{
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: 150px;
    }
}

@media screen and (max-width:709px){
    .ofertas-container{
        grid-template-columns: 1fr;
        grid-row: 200px;
    }
}





/*----------- MEDIA QUERIES PARA LA PAGINA DE CONTACTOS -------*/

@media screen and (max-width:1075px){
    .cab-contact{
        flex-direction: column;
    }
}

@media screen and (max-width:(403px)){
    .cab-contact{
        display: grid;

        grid-template-columns: 1fr;
        grid-auto-flow: column;
    }
}

@media screen and (max-width:769px){
    .cab-contact nav ul li{
        flex-direction: column;
        text-align: center;
        display: inline-block
    }
}

@media screen and (max-width:1075px){

    .identify{

        grid-template-columns: 1fr, 1fr;
        grid-auto-flow: 250px;
        padding-inline-end: 30px;

    }
}

@media screen and (max-width:559px){
    .identify{
        padding: 30px;
    }
}


@media screen and (max-width:507px){
    .contact-iframe{
        margin-right: 15px;
    }
} 


/* ------------MEDIA QUERIES PRODUCTOS--------*/ 

@media screen and (max-width:873px){
    .arriba{
        flex-direction: column;

    }

    
} 


/*--------SERVICIOS--------*/
@media screen and (max-width:873px){
    .servicios{
        flex-direction: column;
        
        
        
    }

    
} 