aside {
    width: 100%;
    
}

.ofertas {
    width: 40%;
    text-align: center;
    background-color: beige;
    display:flex; 
}

.ofertas div {
    padding: 10px;
    margin: 10px;
    width: 100%;
    min-height: 200px;
}

.ofertas img {
    width: 30vh;
    min-height: 30vh;
}

.ofertas a:hover {
    color: rgba(12, 12, 7, 0.856);
}