@import "../base/variables";

.main{
    width: 100%;
    
}

.banner {
    background: rgba(28, 74, 34, 0.164);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);


    .banner-tittle {
        text-align: center;
        font-size: 30px;
        color: rgb(255, 0, 0);
    }

    .banner-card img {
        width: 300px;
        
    }

    .banner-imgvenum {
        width: 100%;
        border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        object-fit: contain;
    }

    .banner-imgtwins {
        width: 100%;
        
        
        border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        object-fit: contain;
        
    }

    // .banner-imgbox {
    //     width: 100%;
    //     height: 300px;
    //     margin: 0px;
    //     border-radius: 40px 40px 40px 40px;
    //     -webkit-border-radius: 40px 40px 40px 40px;
    //     -moz-border-radius: 40px 40px 40px 40px;
    // }
}


.ofertas {
    width: 100%;
    text-align: center;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 500px);
    grid-template-rows: 400px 400px;

    div {
        padding-top: 10px;
        margin: 10px;
        width: 350px;
        height: 300px;
    }

    img {
        width: 250px;
        height: 200px;
    }

    a:hover {
        color: rgba(12, 12, 7, 0.856);
    }
} 


/*-------PAGINA SERVICIOS*/ 

.servicios{
    width: 100%;
    
}

.backoffice div{
    width: 100%;
    display: flex;
    
} 
.pie-servicios{
    width: 100%;
    
}


/*---PAGINA PRODUCTOS*/ 

.productos{
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax 400px);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}   

.productos div{
    background-color: beige;
    width: 350px;

}
.productos div img{
    width: 300px;
    
}

.productos div h3{
    text-align: center;
}

.productos div a{
    align-items: center;
}


















@media (max-width:944px){
    .animate__animated{
        display: none;
    }
}


@media (max-width: 400px){
    .banner-imgtwins{
        display: none;
    }
    .banner-imgvenum{
        display: none;
    } 

}

@media (max-width: 382px){
    .ofertas div{
        width: 70%;
    }
}