@import "../base/variables";

.main{
    width: 100%;
    height: 70vh;
}

.banner {
    background: rgba(28, 74, 34, 0.164);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);


    .banner-tittle {
        text-align: center;
        font-size: 30px;
        color: rgb(255, 0, 0);
    }

    .banner-card img {
        width: 300px;
        
    }

    .banner-imgvenum {
        width: 100%;
        
        
        border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        object-fit: contain;
    }

    .banner-imgtwins {
        width: 100%;
        
        
        border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        object-fit: cover;
        
    }

    // .banner-imgbox {
    //     width: 100%;
    //     height: 300px;
    //     margin: 0px;
    //     border-radius: 40px 40px 40px 40px;
    //     -webkit-border-radius: 40px 40px 40px 40px;
    //     -moz-border-radius: 40px 40px 40px 40px;
    // }
}


.ofertas {
    width: 100%;
    text-align: center;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;

    div {
        padding: 10px;
        margin: 10px;
        width: 350px;
        height: 300px;
    }

    img {
        width: 250px;
        height: 200px;
    }

    a:hover {
        color: rgba(12, 12, 7, 0.856);
    }
}