@import "../base/variables";

.pie-index {
    background: rgba(101, 90, 90, 0.96);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    width: 100%;
    
    

    h3 {
        font-size: 20px;
        width: 30px;
        color: rgb(72, 89, 89);
        
    }

    img {
        width: 40px;
        
    }
}

.pie-servicios{
    background: rgba(101, 90, 90, 0.96);
    background: linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -webkit-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    background: -moz-linear-gradient(16deg, rgba(101, 90, 90, 0.96) 0%, #a9c3a9 80%);
    width: 100%;
    img {
        width: 40px;
        
    }
}