@import url('https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}